.blog-container {
  margin: 50px 130px;
  text-align: center;

  .blog-intro {
    font-family: title;
    p {
      font-size: 19px;
      line-height: 1.6em;
      margin: 25px 0;
    }
  }
  h3 {
    font-size: 40px;
  }

  .blog-item {
    font-size: 14px;
    width: 350px;
    background-color: rgb(247, 180, 180);
    padding-bottom: 50px;
    border-radius: 25px;
    position: relative;

    img {
      border-top-left-radius: 25px;
      border-top-right-radius: 25px;
      width: 350px;
      height: auto;
    }

    .blog-title {
      font-size: 16px;
      font-weight: bold;
      text-align: left;
      line-height: 1.5em;
    }

    .blog-author {
      text-align: left;
      margin-top: 10px;
      color: rgb(152, 152, 152);
    }
    .blog-time {
      position: absolute;
      top: 0;
      right: 0;
      color: white;
    }
    .blog-source {
      position: absolute;
      bottom: 0;
      left: 0;
      color: white;
    }
  }
}
