.spread-container {
  font-family: title;
  margin: 50px 130px;
  text-align: center;
  h3 {
    font-size: 40px;
  }

  p {
    font-size: 19px;
    line-height: 1.6em;
    margin: 25px 0;
  }
  .spread-item-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    justify-items: center;
    .spread-item {
      background-color: rgb(247, 152, 152);
      color: white;
      border: 1px solid rgba(0, 0, 0, 0);
      border-radius: 15px;
      width: 300px;
      padding: 30px 20px;
      margin: 50px 0;
      transition: all 0.5s;
      &:hover {
        transform: translateY(-30px);
        color: rgb(247, 152, 152);
        background-color: white;
        border: 1px solid rgb(247, 152, 152);
      }
      img {
        width: 60px;
        height: auto;
      }
      h4 {
        font-size: 25px;
        margin-top: 20px;
      }
      p {
        font-size: 16px;
      }
    }
  }
}
