.spread-container {
  font-family: title;
  margin: 50px 130px;
  text-align: center;
  h3 {
    font-size: 40px;
  }

  p {
    font-size: 19px;
    line-height: 1.6em;
    margin: 25px 0;
  }
  .spread-item-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    justify-items: center;
    .spread-item {
      background-color: rgb(244, 178, 178);
      color: white;
      border-radius: 15px;
      width: 300px;
      padding: 30px 20px;
      margin: 50px 0;
      h4 {
        font-size: 25px;
        margin-top: 20px;
      }
      p {
        font-size: 16px;
      }
    }
  }
}
