@import "./navbar";
@import "./home";
@import "./readBtn";
@import "./case";
@import "./alertBtn";
@import "./content";
@import "./spread";
@import "./prevent";
@import "./blog";
@import "./chart";

@font-face {
  font-family: title;
  src: url("../font/FZLTCXHJW.TTF");
}

* {
  margin: 0;
  padding: 0;
}

.footer {
  margin: 0;
  padding: 15px;
  text-align: center;
  font-size: 12px;
  font-family: title;
  font-weight: bold;
  color: rgb(237, 236, 236);
  background-color: rgb(31, 31, 31);
}
