.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
  font-family: cnFont;
  margin: 20px 0;
}

.navbar li {
  list-style-type: none;
  display: inline;
  padding: 0 30px;
  font-size: 25px;
  font-family: title;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.navbar li:hover {
  color: #ff5c5c;
  font-size: 30px;
  cursor: pointer;
}

.home-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: title;
  margin: 20px 130px;
}

.home-container .hometext-container h2 {
  font-size: 60px;
  margin: 30px 0;
}

.home-container .hometext-container p {
  font-size: 19px;
  line-height: 1.7em;
}

.home-container .homeimage-container img {
  width: 550px;
  height: auto;
}

.read-btn {
  font-size: 25px;
  font-family: title;
  font-weight: bold;
  border: 1px solid rgba(0, 0, 0, 0);
  background-color: #ff5c5c;
  color: white;
  border-radius: 25px;
  padding: 10px 40px;
  margin: 20px 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.read-btn:hover {
  color: #ff5c5c;
  background: white;
  border: 1px solid #ff5c5c;
}

.read-btn:focus {
  outline: none;
}

.case-wrap {
  background-color: white;
  -webkit-box-shadow: 3px 7px 10px 2px rgba(0, 0, 0, 0.43);
          box-shadow: 3px 7px 10px 2px rgba(0, 0, 0, 0.43);
  margin: 20px 130px;
  height: 150px;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}

.case-wrap .case-source {
  text-align: center;
  font-family: title;
  font-size: 12px;
  margin: 20px 0;
}

.case-wrap .case-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.case-wrap .case-container .case-item {
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

.case-wrap .case-container .case-item .case-cnt {
  font-size: 30px;
  font-weight: bold;
}

.case-wrap .case-container .case-item .case-caption {
  font-family: title;
  font-size: 20px;
  margin-top: 10px;
}

.alert-btn {
  color: #ff5c5c;
  background-color: #fedede;
  border-radius: 25px;
  border: 1px solid rgba(0, 0, 0, 0);
  padding: 3px 8px;
  margin: 20px 0;
}

.alert-btn i {
  margin-right: 5px;
}

.content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px 130px;
}

.content-container img {
  width: auto;
  height: 40vw;
}

.content-container .text-container {
  font-family: title;
  margin-left: 50px;
}

.content-container .text-container h3 {
  font-size: 40px;
}

.content-container .text-container p {
  font-size: 19px;
  line-height: 1.6em;
  margin: 25px 0;
}

.content-container .text-container .symptom-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  width: 80%;
  margin: 25px 0;
}

.content-container .text-container .symptom-list li {
  list-style-type: none;
  font-size: 17px;
  margin: 10px 0;
}

.content-container .text-container .symptom-list li i {
  margin-right: 10px;
  color: #5adf4e;
}

.spread-container {
  font-family: title;
  margin: 50px 130px;
  text-align: center;
}

.spread-container h3 {
  font-size: 40px;
}

.spread-container p {
  font-size: 19px;
  line-height: 1.6em;
  margin: 25px 0;
}

.spread-container .spread-item-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(220px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  justify-items: center;
}

.spread-container .spread-item-container .spread-item {
  background-color: #f4b2b2;
  color: white;
  border-radius: 15px;
  width: 300px;
  padding: 30px 20px;
  margin: 50px 0;
}

.spread-container .spread-item-container .spread-item h4 {
  font-size: 25px;
  margin-top: 20px;
}

.spread-container .spread-item-container .spread-item p {
  font-size: 16px;
}

.prevent-container {
  font-family: title;
  margin: 50px 130px;
}

.prevent-container h3 {
  font-size: 40px;
}

.prevent-container p {
  font-size: 19px;
  line-height: 1.6em;
  margin: 25px 0;
}

.prevent-container .prevent-intro {
  text-align: center;
}

.prevent-container .prevent-item-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(550px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
  justify-items: center;
}

.prevent-container .prevent-item-container .prevent-item {
  background-color: white;
  -webkit-box-shadow: 0px 10px 20px rgba(198, 198, 198, 0.43);
          box-shadow: 0px 10px 20px rgba(198, 198, 198, 0.43);
  width: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
  margin: 10px 0;
}

.prevent-container .prevent-item-container .prevent-item h4 {
  font-size: 20px;
  margin-top: 20px;
}

.prevent-container .prevent-item-container .prevent-item p {
  font-size: 16px;
}

.prevent-container .prevent-item-container .prevent-item img {
  width: 70px;
  height: auto;
  margin-left: 30px;
}

.prevent-container .prevent-item-container .prevent-item div {
  margin-left: 20px;
}

.blog-container {
  margin: 50px 130px;
  text-align: center;
}

.blog-container .blog-intro {
  font-family: title;
}

.blog-container .blog-intro p {
  font-size: 19px;
  line-height: 1.6em;
  margin: 25px 0;
}

.blog-container h3 {
  font-size: 40px;
}

.blog-container .blog-item-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  row-gap: 30px;
  justify-items: center;
}

.blog-container .blog-item {
  font-size: 14px;
  width: 350px;
  background-color: #fcfcfc;
  -webkit-box-shadow: 0px 10px 20px rgba(198, 198, 198, 0.43);
          box-shadow: 0px 10px 20px rgba(198, 198, 198, 0.43);
  padding-bottom: 50px;
  position: relative;
}

.blog-container .blog-item .hover-container {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.blog-container .blog-item .overlay {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.blog-container .blog-item a {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 5px 15px;
  border-radius: 25px;
  background-color: white;
  border: 1px solid #fc5c5c;
  text-decoration: none;
  color: #ff5c5c;
  font-size: 18px;
  font-family: title;
  font-weight: bold;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.blog-container .blog-item a:hover {
  color: white;
  background-color: #fc5c5c;
  border: 1px solid rgba(0, 0, 0, 0);
}

.blog-container .blog-item img {
  width: 350px;
  height: auto;
  max-height: 200px;
}

.blog-container .blog-item .blog-title {
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  line-height: 1.5em;
  padding: 5px 10px;
}

.blog-container .blog-item .blog-author {
  text-align: left;
  margin-top: 10px;
  color: #989898;
  padding: 5px 10px;
}

.blog-container .blog-item .blog-time {
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  background-color: #f96666;
  padding: 5px 15px;
}

.blog-container .blog-item .blog-source {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 5px 15px;
  color: white;
  background-color: #f96666;
}

.chart-container {
  width: 80%;
  margin: 0 auto;
  padding: 50px 0;
}

@font-face {
  font-family: title;
  src: url("../font/FZLTCXHJW.TTF");
}

* {
  margin: 0;
  padding: 0;
}
