@import "./navbar";
@import "./home";
@import "./readBtn";
@import "./case";
@import "./alertBtn";
@import "./content";
@import "./spread";
@import "./prevent";
@import "./blog";
@import "./chart";

@font-face {
  font-family: title;
  src: url("../font/FZLTCXHJW.TTF");
}

* {
  margin: 0;
  padding: 0;
}
